In [1]:
import pandas as pd

df = pd.DataFrame({
    'men': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'women': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

In [2]:
df

    men  women
0  80.2   57.9
1  80.8   57.3
2  57.5   72.8
3  98.0   48.2
4  50.5   59.5
5  73.8   48.3
6  77.4   61.2
7  59.7   53.9
8  77.9   53.9
9  52.6   70.7

In [5]:
round((df.men.mean() - df.women.mean()),1)

12.5

In [19]:
list1 = [2,7,4,3,6,4,1,2]
list2 = [5,2,4,8,1,6,7]

In [20]:
len(list1)

8

In [33]:
list1.sort()
list2.sort()

print((list1[3]+list1[4])/2)
print(list2[3])

3.5
5

In [23]:
df.men.median()

75.6

In [24]:
df.women.median()

57.599999999999994

In [28]:
patients = list(df.men)+list(df.women)

len(patients)

20

In [31]:
patients.sort()
(patients[9]+patients[10])/2

59.6

In [ ]:
list3 = [1,2,3,4,5,6,7,8,9]
list3 = [1,2,3,4,5,6,7,8,9,10,11]

In [32]:
list1 = [2,7,4,3,6,4,1,2]
list2 = [5,2,4,8,1,6,7]