In [18]:
from scipy.stats import norm
import pandas as pd

In [5]:
round((norm.cdf(1)),2)

0.84

In [6]:
round(norm.ppf(0.1),2)

-1.28

In [7]:
round(norm.ppf(0.95),2)

1.64

In [8]:
round(norm.ppf(0.025),2)

-1.96

In [9]:
round(norm.ppf(0.99),2)

2.33

In [10]:
round(norm.ppf(0.005),2)

-2.58

In [14]:
round(1 - norm.cdf(75,70,5/(5**(1/2))),3)

0.013

In [16]:
round(norm.cdf(0.16,0.2,(0.4/15)),3)

0.067

In [19]:
df = pd.DataFrame({'books':[1,2,3],'p':[0.3,0.4,0.3]})

df

   books    p
0      1  0.3
1      2  0.4
2      3  0.3

In [20]:
E_x_books = 1*0.3 + 2*0.4 + 3*0.3

E_x_books

2.0

In [22]:
df_X = pd.DataFrame({'x':[2,3,4,5],'p':[0.1,0.2,0.6,0.1]})

df_X

   x    p
0  2  0.1
1  3  0.2
2  4  0.6
3  5  0.1

In [24]:
E = 2*0.1 + 3*0.2 + 4*0.6 + 5*0.1 

E

3.7

In [25]:
E_x2 = 4*0.1 + 9*0.2 + 16*0.6 + 25*0.1

E_x2

14.3

In [27]:
round(1 - norm.cdf(820,700,120),2)

0.16

In [28]:
round((norm.cdf(820,700,120) - norm.cdf(730,700,120)),2)

0.24

In [30]:
round(norm.ppf(0.05,700,120),2)

502.62