In [52]:
import pandas as pd
df = pd.DataFrame({
    'men': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'women': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

In [2]:
df

    men  women
0  80.2   57.9
1  80.8   57.3
2  57.5   72.8
3  98.0   48.2
4  50.5   59.5
5  73.8   48.3
6  77.4   61.2
7  59.7   53.9
8  77.9   53.9
9  52.6   70.7

In [5]:
round((df.men.mean() - df.women.mean()),1)

12.5

In [19]:
list1 = [2,7,4,3,6,4,1,2]
list2 = [5,2,4,8,1,6,7]

In [20]:
len(list1)

8

In [33]:
list1.sort()
list2.sort()

print((list1[3]+list1[4])/2)
print(list2[3])

3.5
5

In [23]:
df.men.median()

75.6

In [24]:
df.women.median()

57.599999999999994

In [28]:
patients = list(df.men)+list(df.women)

len(patients)

20

In [31]:
patients.sort()
(patients[9]+patients[10])/2

59.6

In [ ]:
list3 = [1,2,3,4,5,6,7,8,9]
list3 = [1,2,3,4,5,6,7,8,9,10,11]

In [36]:
print('list1:',list1)
print('list2:',list2)

list1: [1, 2, 2, 3, 4, 4, 6, 7]
list2: [1, 2, 4, 5, 6, 7, 8]

list1_q1 = 2
list1_q3 = 5
list2_q1 = 2
list2_q3 = 7

In [38]:
df

    men  women
0  80.2   57.9
1  80.8   57.3
2  57.5   72.8
3  98.0   48.2
4  50.5   59.5
5  73.8   48.3
6  77.4   61.2
7  59.7   53.9
8  77.9   53.9
9  52.6   70.7

In [39]:
df.quantile(q=0.25, axis=0, numeric_only=True, interpolation='midpoint')

men      58.6
women    53.9
Name: 0.25, dtype: float64

In [48]:
round(df.quantile(q=0.75, axis=0, numeric_only=True, interpolation='midpoint'),1)

men      79.0
women    60.4
Name: 0.75, dtype: float64

In [98]:
df

    men  women
0  80.2   57.9
1  80.8   57.3
2  57.5   72.8
3  98.0   48.2
4  50.5   59.5
5  73.8   48.3
6  77.4   61.2
7  59.7   53.9
8  77.9   53.9
9  52.6   70.7

In [99]:
df.min()

men      50.5
women    48.2
dtype: float64

In [56]:
df.max() - df.min()

men      47.5
women    24.6
dtype: float64

In [58]:
iqr = df.quantile(q=0.75, axis=0, interpolation='midpoint')-df.quantile(q=0.25, axis=0, interpolation='midpoint')

round(iqr,1)

men      20.5
women     6.5
dtype: float64

In [82]:
print(df.std(),1)
print(df.var(),1)

men      15.182534
women     8.271108
dtype: float64 1
men      230.509333
women     68.411222
dtype: float64 1

In [100]:
df_q3 = df.quantile(q=0.75, axis=0, interpolation='midpoint')
df_q1 = df.quantile(q=0.25, axis=0, interpolation='midpoint')

iqr = df_q3-df_q1
print(iqr)

df_low_limit = (df_q1 - 1.5*iqr)
df_high_limit = (df_q3 + 1.5*iqr)

print(df_low_limit)
print(df_high_limit)

print(df[df < df_low_limit].copy())
print(df[df > df_high_limit].copy())

men      20.45
women     6.45
dtype: float64
men      27.925
women    44.225
dtype: float64
men      109.725
women     70.025
dtype: float64
   men  women
0  NaN    NaN
1  NaN    NaN
2  NaN    NaN
3  NaN    NaN
4  NaN    NaN
5  NaN    NaN
6  NaN    NaN
7  NaN    NaN
8  NaN    NaN
9  NaN    NaN
   men  women
0  NaN    NaN
1  NaN    NaN
2  NaN   72.8
3  NaN    NaN
4  NaN    NaN
5  NaN    NaN
6  NaN    NaN
7  NaN    NaN
8  NaN    NaN
9  NaN   70.7

Таблица показывает среднюю температуру в январе (в градусах по Цельсию) в одном российском городе за 2007-2018 годы:

Используя Python, найдите описательные статистики средней январской температуры за 12 лет. Ответы округлите до 1 знака после точки-разделителя.

In [145]:
import pandas as pd
df = pd.DataFrame({
    'year': [2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018],
    'temp': [-4.7, -6.1, -5.5, -3.3, -7.1, -3.1, -5.2, -7.3, -12.1, -6.6, -5.9, -6.3]
})


print('t_min', df.temp.min())
print('t_max', df.temp.max())
print('range', df.temp.max()-df.temp.min())
print('mean', round(df.temp.mean(),1))
print('-----')

print('median',round(df.temp.quantile(q=0.5,interpolation='midpoint'),1))
print('q1',round(df.temp.quantile(q=0.25,interpolation='midpoint'),1))
print('q3',round(df.temp.quantile(q=0.75,interpolation='midpoint'),1))
print('iqr', round(df.temp.quantile(q=0.75,interpolation='midpoint') - \
                                   df.temp.quantile(q=0.25,interpolation='midpoint'),1))

print('std', round(df.temp.std(),1))
print('var', round(df.temp.var(),1))

iqr = df.temp.quantile(q=0.75,interpolation='midpoint') - \
                                   df.temp.quantile(q=0.25,interpolation='midpoint')
df_q1 = df.temp.quantile(q=0.25,interpolation='midpoint')
df_q3 = df.temp.quantile(q=0.75,interpolation='midpoint')

print('out_low',df[df.temp < df_q1 - iqr*1.5])
print('out_high',df[df.temp > df_q3 + iqr*1.5])

t_min -12.1
t_max -3.1
range 9.0
mean -6.1
-----
median -6.0
q1 -6.8
q3 -5.0
iqr 1.9
std 2.3
var 5.3
out_low    year  temp
8  2015 -12.1
out_high Empty DataFrame
Columns: [year, temp]
Index: []