In [18]:
from scipy.stats import norm
from scipy.stats import t
import pandas as pd
import math
import numpy as np

In [5]:
round((norm.cdf(1)),2)

0.84

In [6]:
round(norm.ppf(0.1),2)

-1.28

In [7]:
round(norm.ppf(0.95),2)

1.64

In [8]:
round(norm.ppf(0.025),2)

-1.96

In [9]:
round(norm.ppf(0.99),2)

2.33

In [10]:
round(norm.ppf(0.005),2)

-2.58

In [14]:
round(1 - norm.cdf(75,70,5/(5**(1/2))),3)

0.013

In [16]:
round(norm.cdf(0.16,0.2,(0.4/15)),3)

0.067

In [19]:
df = pd.DataFrame({'books':[1,2,3],'p':[0.3,0.4,0.3]})

df

   books    p
0      1  0.3
1      2  0.4
2      3  0.3

In [20]:
E_x_books = 1*0.3 + 2*0.4 + 3*0.3

E_x_books

2.0

In [22]:
df_X = pd.DataFrame({'x':[2,3,4,5],'p':[0.1,0.2,0.6,0.1]})

df_X

   x    p
0  2  0.1
1  3  0.2
2  4  0.6
3  5  0.1

In [24]:
E = 2*0.1 + 3*0.2 + 4*0.6 + 5*0.1 

E

3.7

In [25]:
E_x2 = 4*0.1 + 9*0.2 + 16*0.6 + 25*0.1

E_x2

14.3

In [27]:
round(1 - norm.cdf(820,700,120),2)

0.16

In [28]:
round((norm.cdf(820,700,120) - norm.cdf(730,700,120)),2)

0.24

In [30]:
round(norm.ppf(0.05,700,120),2)

502.62

Для случая с неизвестным  предел погрешности

In [13]:
def confidence_interval_t(alpha, s, n, mean):
    value = -t.ppf(alpha / 2, n - 1) * s / math.sqrt(n)
    return mean - value, mean + value

In [15]:
t.ppf(0.05 / 2, 14)

-2.1447866879169277

In [11]:
confidence_interval_t(0.01,400,15,2000)

(1692.553004440083, 2307.446995559917)

Для случая с известным  предел погрешности

In [12]:
def confidence_interval_norm(alpha, sigma, n, mean):
    value = -norm.ppf(alpha / 2) * sigma / math.sqrt(n)
    return mean - value, mean + value

In [16]:
confidence_interval_norm(0.01,1150,250,3540)

(3352.6537883505453, 3727.3462116494547)

In [17]:
x = [1.2,0.2,1.6,1.9,-0.4,0.5,1.4,1.7,2.5,1.3]

In [33]:
np.std(x)

0.8178630692236935

In [21]:
len(x)

10

In [34]:
np.round(confidence_interval_t(0.05,pd.DataFrame(x).std(),len(x),pd.DataFrame(x).mean()),2)

array([[0.57],
       [1.81]])

In [23]:
x.sort()

In [24]:
x

[-0.4, 0.2, 0.5, 1.2, 1.3, 1.4, 1.6, 1.7, 1.9, 2.5]

In [32]:
pd.DataFrame(x).std()

0    0.862103
dtype: float64

In [35]:
np.std(x,ddof=1)

0.8621033709609436

Функция для расчтёта доверительного интервала истинной пропорции по выборочной

In [52]:
def confidence_interval_norm_p(alpha, n, p):
    value = -norm.ppf(alpha / 2)* math.sqrt(p*(1-p)/n)
    return p - value, p + value

In [53]:
p1 = round(132/189,3)

In [54]:
p1

0.698

In [57]:
np.round(confidence_interval_norm_p(0.1,189,p1),3)

array([0.643, 0.753])

In [59]:
t.ppf(0.01/2,10)

-3.169272667175838

In [60]:
t.ppf((1+0.99)/2,10)

3.169272667175838

In [66]:
-norm.ppf(0.07/2)

1.8119106729525978

In [67]:
-norm.ppf(0.01/2)

2.575829303548901

In [72]:
round(-t.ppf(0.01/2,10-1),2)

3.25

In [71]:
round(-t.ppf(0.05/2,100),2)

1.98

In [76]:
round(norm.ppf(0.05/2),2)

-1.96